body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
.orange-color{
  color: blue;
}
.friends{
    color: rgb(106, 0, 228);
}
.p-backround{
    background-color: rgb(11, 109, 104);
}
section{
    display: flex;
    margin: 0%;

}
a{
    color: orange;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))
}
.top-banner{
    background-repeat: calc(none);
  
}